@charset "UTF-8";
a {
    text-decoration: none;
}

a:hover {
    background: #eeeeee;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    padding-top: 1em;
}

.directory {
    color: #4a8ec2;
}

.doc-file {
    color: black;
}

.epiceditor {
    height: 600px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content blockquote p {
    font-size: 1em;
    line-height: 25.71428680419922px;
    color: #777;
}

th a {
    color: #4A8EC2;
}
th a:hover {
    color: #4A8EC2;
    text-decoration: underline;
}
.dynatable-search {
    position: static;
    float: right;
}
.table {
    clear: both;
}