@charset "UTF-8";
a {
    text-decoration: none;
}

a:hover {
    background: #eeeeee;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    padding-top: 1em;
}

.dir-li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -1.5em;
}

.directory {
    color: #4a8ec2;
}

.doc-file {
    color: black;
}

.doc-li .glyphicon {
    margin-left: 0.2em;
    font-size: 0.9em;
    opacity: 0;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
}

.doc-li:hover .glyphicon {
    opacity: 1;
}

.epiceditor {
    height: 600px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content blockquote p {
    font-size: 1em;
    line-height: 25.71428680419922px;
    color: #777;
}