@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6 {
    font-family:Ubuntu, Arial,'Apple SD Gothic Neo','애플 SD 고딕 Neo','NanumBarunGothic','NanumBarunGothicOTF','나눔바른고딕','나눔바른고딕OTF','Malgun Gothic','맑은 고딕','NanumGothic','NanumGothicOTF', '나눔고딕','나눔고딕OTF',sans-serif!important;
}
a {
    text-decoration: none;
}

a:hover {
    background: #eeeeee;
}


.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    padding-top: 1em;
}

.directory {
    color: #4a8ec2;
}

.doc-file {
    color: black;
}

.editor {
    height: 600px;
    width: 100%;
    color: white;
    background: rgb(41, 41, 41);
    border: 0;
    font-family: nanumgothiccoding, Menlo, Monaco, Consolas, "Courier New", monospace;
    padding-bottom: 500px;
}
.editor:focus {
    outline: none;
}
.msges {
    color: #555;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content p {
    clear: both;
}

.content blockquote {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}
.content blockquote p {
    font-size: 1em;
    line-height: 25.71428680419922px;
    color: #777;
}
.content blockquote p:first-child {
    margin-top: 0;
}
.content blockquote p:last-child {
    margin-bottom: 0;
}

.doc-info {
    margin-bottom: 1em;
    text-align: right;
}

.doc-info li {
    margin-right: 1em;
    display: inline-block;
}

th a {
    color: #4A8EC2;
}
th a:hover {
    color: #4A8EC2;
    text-decoration: underline;
}
.dynatable-search {
    position: static;
    float: right;
}
.table {
    clear: both;
}

@media print {
	body {
		line-height: 1.7;
	}
	body, h1, h2, h3, h4, h5, h6 {
		font-family: '바탕', '나눔명조'!important;
	}
	strong {
		font-family: 'NanumBarunGothic'!important;	
		font-weight: normal;
	}
    * {
        font-size: 10.5pt;
        color: black;
    }
    p {
        margin: 0;
        text-indent: 1em;
    }
    ul {
        margin: 1em 0;
        padding-left: 1.5em;
    }
    ul ul {
        margin: 0;
    }
    h1:first-child {
        margin-top: 0;
    }
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 15pt;
    }
    h3, h4, h5, h6 {
        font-size: 12pt;
    }
    h4, h5, h6 {
        font-weight: normal;
    }
    .content {
        margin: 0;
    }
    blockquote {
        border: none;
        font-size: 0.95em;
    }
}